html{
  scroll-behavior: smooth;
}

body{
background-color: white;
font-size: 18px;
margin: 0;
font-family: 'Helvetica', sans-serif;
}

footer{
background: #0d5eaf;
color: white;
width: 100%;
margin: auto;
margin-top:10px;
line-height: 2.0;
font-size: 14px;
}


h1{
font-size: 55px;
line-height: 0.5;
color: #0d5eaf;
padding: 10px;
padding-top: 25px;
text-align: center;
font-family: 'Helvetica', sans-serif;
}

h2{
font-size: 30px;
color: #0d5eaf;
line-height: 2;
padding: 10px;
text-align: center;
font-family: 'Helvetica', sans-serif;
}


p{
font-family: 'Helvetica', sans-serif;
padding: 18px;
text-align: center;
}


a.skip{
background: white;
left: 0;
padding: 6px;
position: absolute;
top: -40px;
}

a.skip:focus{
top:20px;
color: white;
text-decoration-style: #0d5eaf;
}

*:focus{
border: 2px solid #0d5eaf;
}


header{
display: flex;
flex-direction: column;
align-items: center;
background: white;
border-bottom: 5px solid #0d5eaf;
font-family: 'Helvetica'
}


.nav_links{
display: flex;
flex-direction: column;
list-style: none;
text-align: center;
padding-bottom: 10px;
}

.nav_item a{
color:#0d5eaf;
text-decoration: none;
}

.link{
color: #0d5eaf;
}

.nav_item a:hover, a:focus{
color: #0d5eaf;
text-decoration: underline;
-webkit-text-decoration-style: solid;
        text-decoration-style: solid;
}

.nav_item a:active{
text-decoration: underline;
}


.gallery img:hover{
  opacity: 50%;
}

.gallery div{
overflow: hidden;

}

.gallery>img{
object-fit: cover;
width: 90%;
height: 95%;
border-radius: 3px;
justify-self: center;
}

input[type=text], select, textarea {
width: 100%; 
padding: 12px; 
border: 1px solid #ccc; 
box-sizing: border-box; 
margin-top: 6px; 
margin-bottom: 16px; 
font-family: 'Helvetica', sans-serif;

}

input[type=submit] {
background-color: #0d5eaf;
color: white;
padding: 15px;
cursor: pointer;
border: none;
border-radius: 2px;
}


header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#logo{
  padding-top: 10px;
  width: 100px;
  height: 100px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  padding: 15px;

}

.nav_item a{
  padding: 10px;
}



.gallery div{
  overflow: hidden;

}

.gallery>img {
object-fit: cover;
width: 100%;
height: 100%;
}

.gallery{
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 500px);
  margin: auto;
  padding: 25px;
}

.form{
width: 1000px;
position: relative;
margin: auto;

}



/* Dessert/Dinner  CSS */

.dessert-head{
  font-size: 50px;
  line-height: 1;
  text-align: center;
  padding: 50px 0;
  grid-row:1/span 1;
  grid-column:2/span 1;
  background-attachment: fixed; 
  background-image: url('../images/pastry.jpg');  
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;       
  color: black;
  height: 600px;             
}

.dessert-images{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.dessert-images img{
  margin: auto;
  border: 2px #0d5eaf;
}

.baklava-words, .koulouria-words, .melomokarona-words, .bougatsa-words{
  grid-row: 3/span 1;
  grid-column: 1/span 3;
  padding: 20px;
}

.baklava-words p{
  padding-top: 10px;
}

.koulouria-words p{
  padding-top: 10px;
}

.melomokarona-words p{
  padding-top: 10px;
}

.bougatsa-words p{
  padding-top: 10px;
}

.baklava-words h2{
  text-decoration: underline;
}

.koulouria-words h2{
  text-decoration: underline;
}

.melomokarona-words h2{
  text-decoration: underline;
}

.bougatsa-words h2{
  text-decoration: underline;
}


/* Flipcard */


.flip-card {
	justify-content: center;
	padding-left: 70px;
	background-color: transparent;
	width: 200px;
	height: 200px;
	perspective: 1000px;
}

.flip-card-inner {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card h1 {
	font-size: 30px;
	padding: 15px;
}

.flip-card p {
	text-align: left;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
	transform: rotateY(180deg);
    
}

.flip-card-front, .flip-card-back {
  position: absolute;
  max-width: 500px;
  max-height: 400px;
  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-front {
  color: black;

  z-index: 2;
  -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg);
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);

   -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 300ms steps(20) infinite normal;
} 


@keyframes typewriter{
  from{width: 0}
  to{width: 100%}
}

@keyframes blinkTextCursor{
  from{border-right-color: #0d5eaf;}
  to{border-right-color: transparent;}
}